---
import Section from "./Section.astro";
---

<Section
  title="Accesorios"
  subtitle=""
  color="black"
  id="accesorios"
  showFooterContent="true"
>
  <div slot="footer" class="gap-x-6 flex mx-auto box-content">
    <a
      class="bg-[#171a20] rounded text-md font-semibold text-white px-20 py-[10px] mb-5 inline-block hover:bg-gray-800 hover:text-white hover:border-gray-800 transition-colors"
      href="#"
    >
      Comprar ahora
    </a>
  </div>

  <div slot="background" class="absolute top-0 bottom-0 z-10">
    <img
      class="w-full object-cover aspect-video"
      src="/images/accessories.avif"
      alt="Accesorios"
      id="bg-image-accesories"
    />
  </div>
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    )
      return true;
    else return false;
  }

  let imageElement = document.querySelector(
    "#bg-image-accesories"
  ) as HTMLImageElement;

  if (isEdge()) imageElement.src = "/images/accessories.webp";
  else imageElement.src = "/images/accessories.avif";
</script>
