---
import Section from "./Section.astro";
---

<Section
  title="Model Y"
  subtitle="Concertar una prueba de conducción"
  color="black"
>
  <div slot="footer" class="flex gap-x-6 mx-auto">
    <a
      class="bg-[#171a20] rounded text-sm text-white px-[60px] py-[10px] inline-block hover:bg-gray-800 hover:text-white hover:border-gray-800 transition-colors"
      href="/">Explorar inventario</a
    >
    <a
      class="border-[3px] border-white bg-white rounded text-sm text-[#171a20] px-[51px] py-[7px] inline-block hover:bg-black hover:text-white hover:border-black transition-colors"
      href="/">Pedido personalizado</a
    >
  </div>
  <div slot="background" class="absolute top-[-25%] bottom-[-25%] z-10">
    <img
      src="/model-y.avif"
      alt="Model Y"
      class="object-center h-full w-full object-cover"
    />
  </div>
</Section>
