---
import Section from "./Section.astro";
---

<Section
	title="Disfrute de tesla"
	subtitle="Programe una prueba de conducción hoy mismo"
	color="white"
>
	<div slot="footer">
		<a
			class="border-[3px] border-white bg-white/5 backdrop-blur-xl rounded text-sm text-white px-[51px] py-[7px] inline-block hover:bg-white hover:text-black transition-colors"
			href="/">Prueba de conducción</a
		>
	</div>
	<div slot="background" class="absolute top-0 bottom-0 h-full z-10">
		<video
			class="object-center object-cover"
			autoplay
			muted
			loop
			src="/video.webm"></video>
	</div>
</Section>
