---
import Section from "./Section.astro";
---

<Section
  title="Model Y"
  subtitle="Concertar una prueba de conducción"
  color="black"
  id="model-y"
>
  <div slot="footer" class="flex gap-x-6 mx-auto">
    <a
      class="bg-white rounded text-md font-semibold text-black px-[64px] py-[10px] inline-block hover:bg-black hover:text-white hover:border-black transition-colors opacity-70"
      href="/">Entrega más rápida</a
    >
    <a
      class="border-[3px] border-gray-900 bg-gray-900 rounded text-md font-semibold text-white px-[60px] py-[7px] inline-block hover:bg-black hover:border-black hover:text-white transition-colors opacity-70"
      href="/">Pedido personalizado</a
    >
  </div>
  <div slot="background" class="absolute top-[-25%] bottom-[-25%] z-10">
    <img
      src="/images/model-y.avif"
      alt="Model Y"
      class="h-full w-full object-cover aspect-video"
      id="bg-image-model-y"
    />
  </div>
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    )
      return true;
    else return false;
  }

  let imageElement = document.querySelector(
    "#bg-image-model-y"
  ) as HTMLImageElement;

  if (isEdge()) imageElement.src = "/images/model-y.webp";
  else imageElement.src = "/images/model-y.avif";
</script>
